:root {
  --main-color: #2e2f42;
  --color-logo: #4d5ae5;
  --secondary-color: #ffffff;
  --color-text: #434455;
  --third-color: #f4f4fd;
  --button-color: #404BBF;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
  background: var(--secondary-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
}

.logo-s {
  color: var(--main-color);
}
.list-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.list-nav:hover,
.list-nav:focus {
  color: var(--button-color);
}
.address {
  font-style: normal 
}
.address:hover,
.address:focus {
  color: var(--button-color);
}
.contact-header {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--color-text);
}
.contact-header:hover,
.contact-header:focus {
  color: var(--button-color);
}
.hero {
  background: var(--main-color);
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
 background: var(--color-logo);
 cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--button-color);
}

.features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--color-text);
}
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}
.section-worker {
  background: var(--third-color);
}
.section-worker-list {
  background: var(--secondary-color);
}
.workers {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.profession {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

}
.footer {
  background: var(--main-color);
}
.logo-footer {
  color: var(--third-color);
}
.text-footer {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--third-color);
}
.button-portfolio {
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--color-logo);
background: var(--third-color);
cursor: pointer;
}
.button-portfolio:hover,
.button-portfolio:focus{
  color: var(--secondary-color);
background: var(--button-color);
}
.desc {
  font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--color-text);
}
/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
